<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.07.1999</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius quos ullam libero perferendis praesentium dolores voluptatum fugit ab perspiciatis, provident possimus aspernatur nam voluptatem odit alias nostrum deleniti corporis autem quod pariatur? Minima, unde pariatur odio asperiores dicta corrupti quasi aut eius fugiat, reprehenderit, amet aperiam saepe quod cupiditate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius quos ullam libero perferendis praesentium dolores voluptatum fugit ab perspiciatis, provident possimus aspernatur nam voluptatem odit alias nostrum deleniti corporis autem quod pariatur? Minima, unde pariatur odio asperiores dicta corrupti quasi aut eius fugiat, reprehenderit, amet aperiam saepe quod cupiditate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius quos ullam libero perferendis praesentium dolores voluptatum fugit ab perspiciatis, provident possimus aspernatur nam voluptatem odit alias nostrum deleniti corporis autem quod pariatur? Minima, unde pariatur odio asperiores dicta corrupti quasi aut eius fugiat, reprehenderit, amet aperiam saepe quod cupiditate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius quos ullam libero perferendis praesentium dolores voluptatum fugit ab perspiciatis, provident possimus aspernatur nam voluptatem odit alias nostrum deleniti corporis autem quod pariatur? Minima, unde pariatur odio asperiores dicta corrupti quasi aut eius fugiat, reprehenderit, amet aperiam saepe quod cupiditate.</p>
    </div>
</div>